body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}


.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    float:right;
    font-size: 20px;
    padding-top: 30px;
}
.navbar li{
    display: inline;
    padding-right:  50px;
    

}
.navbar a{
    text-decoration: none;
    width: 300px;
    padding: 5px;
    color: black;
    font-weight: 700;

}
.nav{
    height: 60px;

}
.highlight-colour{
    color: lightsalmon;
}
.high-clr{
    color: rgb(70, 64, 116);
    
}
h1{
    font-size: 90px;
    font-family: 'Bebas Neue', cursive;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 25px;
    font-weight: 900;
}
p{
    color: dimgray;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.half-width{
    width:30%;
    float: left;
    margin-left: 11%;
    padding-left: 2%;

}
.half-width img{
    width: 100%;
}

section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(180deg,lightsalmon,tomato);
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 200px;
    
    
}
.third{
    text-align: center;
    
}
.third-sec{
    box-sizing: border-box;
    background-image: linear-gradient(rgb(250, 245, 245),rgb(250, 245, 245));
    height: 700px;

    
}
.column {
	float: left;
	width: 18%;
    padding: 15PX ;
    margin-left: 100px;
    

   
}

.row::after {
	content: "";
	display: table;
    clear: both;
   
}
.shadow{
    box-shadow: 10px 10px 40px gray;
    height: 60%;
    border-radius: 15px;
    background-color: rgb(248, 248, 248);
    padding-right: 4px;
    margin-left: 10%;


}

#one{
    border-left: 7px solid;
    border-image:  linear-gradient(180deg,rgb(170, 250, 159),green);
    border-image-slice: 1;
}
#two{
    border-left: 7px solid;
    border-image:  linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
}
#three{
    border-left: 7px solid;
    border-image:  linear-gradient(180deg,cyan,blue);
    border-image-slice: 1;
}
.last-pic{
    background-image: url("images/bottom.png");
   background-size: 800px 150px;
    width: 60%;
    padding: 10px 20px;
    margin: 20px;
    background-position: contain;
    background-repeat: no-repeat;
    margin-left: 500px;
    
   

}

}
#last-text{
    color: white;
    
}
#stay{
    text-align: center;
    color: gray;
  
}
#mail{
    text-align: center;
    color: rgb(70, 64, 116);
}
.ali{
    padding: 10px;
    margin-top: 40%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(180deg,lightsalmon,tomato);
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    margin-bottom: 200px;
    margin-right: 600px;
    margin-top: 200px;
}


